<?xml version="1.0" encoding="utf-8"?>

<manifest package="net.reichholf.repola"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-feature
		android:name="android.hardware.telephony"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.nfc"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.microphone"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.sensor"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />

	<application
		android:name="net.reichholf.repola.App"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:hardwareAccelerated="true"
		android:supportsRtl="false"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name="net.reichholf.repola.activities.Launcher"
			android:label="@string/app_name"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="net.reichholf.repola.activities.ApplicationList" />
		<activity android:name="net.reichholf.repola.activities.Preferences" />
	</application>

</manifest>
